<style>
h1{font-family:arial;
     font-size:150%;
     font-style:italic;
     color:red;}
p{font-family:courier;
     font-size:100%;
     font-weight:none;
     font-style:calibri;
     color:blue;}
</style>